.main-controls-container {
    display: grid;
    grid-row-gap: 10px;
}
.main-controls {
    display: grid;
    grid-template-columns: 50% 50%;
}
.main-controls button {
    height: 100px;
    width: 100%;
    background: #3f51b5;
    color: white;
    font-size: 20px;
}
.main-controls button:hover {
    background: #2196f3;
    color: white;
}
.main-controls .title-message {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #212121;
    font-size: 20px;
    flex-direction: column;
}
.create-controls form {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-row-gap: 10px;
}
.room-list {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 5px;
}
.room-list .room {
    border-radius: 2px;
    padding-left: 5px;
    background: #cfd8dc;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    line-height: 0px;
}
.grid-2 {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
}